.price-list {
  margin-left: 10%;
  width: 90%;
  padding: 5%;
  &__header {
    font-size: 1.8rem;
    margin-bottom: 5%;
  }
  &__information {
    color: rgba(0,0,0,0.5);
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 5%;
  }
  &__smaller-header {
    font-size: 1.6rem;
    margin-bottom: 2.5%;
  }
  &__list {
    list-style: none;
  }
  &__list-item {
    font-size: 1.2rem;
    padding: 2.5% 0;
    border-bottom: 1px solid #ccc;
  }
  .fa-check {
    font-size: 1.4rem;
    margin-right: 2.5%;
  }
}

.example-price {
  margin-top: 5%;
  &__header {
    text-align: center;
    font-size: 2rem;
  }
  &__smaller-header {
    color: #008516;
    text-align: center;
    font-size: 1.4rem;
    margin-top:5% ;
  }
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__list-item{
    width: 80%;
    margin-top: 10%;
  }
  &__list-item-header {
    color:white;
    background-color: #000;
    font-size: 1.6rem;
    text-align: center;
    padding: 10% 10%;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
  }
  &__list-item-info {
    border: 1px solid black;
    padding: 10% 0;
    text-align: center;
    border-radius:0 0 10px 10px;
    font-size: 1.2rem;
    .element{
      font-size: 2rem;
      margin: 0 1%;
    }
  }
  &__summary {
    font-size: 1.2rem;
    color: #555;
    margin-top: 5%;
    text-align: center;
  }
}

.additional-services {
  margin-top: 10%;
  &__header {
    font-size: 1.6rem;
  }
  &__list {
    list-style: none;
    margin-top: 5%;
  }
}

.additional-description {
  margin-top: 5%;
  font-size: 1.6rem;
  text-align: center;
}
.additional-description-second {
  margin-top:5%;
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 5%;
  border-bottom: 1px solid #ccc;
}